views/scenario/run.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"><link rel="stylesheet" href="/stylesheets/ui.css"><link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-grid.min.css"><link rel="stylesheet" href="/stylesheets/fonts/css/fontawesome-all.css"><link rel="stylesheet" href="/stylesheets/helpers.css"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></head><body><div class="body-wrapper"><div class="app-aside"><div class="logo"></div><nav class="sidebar"><ul class="nav"><li><a><i class="fa fa-fw fa-desktop"></i></a><div class="sub-menu"><span>Главная</span></div></li><li><a><i class="fa fa-fw fa-cube"></i></a><div class="sub-menu"><span>Сцена</span></div></li><li><a href="/object"><i class="fa fa-fw fa-cubes"></i></a><div class="sub-menu"><span>Объекты</span></div></li><li><a href="/scenario"><i class="fa fa-fw fa-code"></i></a><div class="sub-menu"><span>Сценарии</span></div></li><li><a href="/room"><i class="fa fa-fw fa-comment-alt"></i></a><div class="sub-menu"><span>Комнаты</span></div></li><li><a><i class="fa fa-fw fa-calendar"></i></a><div class="sub-menu"><span>Планировщик задач</span></div></li><li><a><i class="fa fa-fw fa-window-maximize"></i></a><div class="sub-menu"><span>Виджеты</span></div></li><li><a><i class="fa fa-fw fa-cog"></i></a><div class="sub-menu"><span>Настройки</span></div></li></ul></nav></div><div class="app-content"><div class="content-header"></div><div class="content-main"><div class="row"><div class="col-md-12"><div class="card"><div class="card-head"><h3 class="card-title">Консоль выполнения кода</h3></div><div class="card-body"><code><pre>each val, index  in event.logs
  |  </pre></code></div></div></div></div></div></div></div></body></html>

views/scenario/run.pug
extends ../layout

block content
  div.row
    div.col-md-12
      div.card
        div.card-head
          h3.card-title Консоль выполнения пользовательского сценария
        div.card-body
          code
              each val in event.logs
                pre.prettyprint.lang-js #{val}
