views/index/index.pug
extends ../layout

block content
  div.row
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-success
          i.fa.fa-fw.fa-comment-alt
        div.card-list-body
          h4.m-0 #{rooms.length}
          small.tx-gray Комнаты
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-info
          i.fa.fa-fw.fa-code
        div.card-list-body
          h4.m-0 #{events.length}
          small.tx-gray Сценарии
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-cyan
          i.fa.fa-fw.fa-cube
        div.card-list-body
          h4.m-0 #{objects.length}
          small.tx-gray Объекты
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-yellow
          i.fa.fa-fw.fa-comment-alt
        div.card-list-body
          h4.m-0 75

views/index/index.html
<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/ui.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/fonts/css/fontawesome-all.css">
    <link rel="stylesheet" href="/stylesheets/helpers.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="body-wrapper">
    <div class="app-aside">
        <div class="logo"></div>
        <nav class="sidebar">
            <ul class="nav">
                <li><a><i class="fa fa-fw fa-desktop"></i></a>
                    <div class="sub-menu"><span>Главная</span></div>
                </li>
                <li><a><i class="fa fa-fw fa-cube"></i></a>
                    <div class="sub-menu"><span>Сцена</span></div>
                </li>
                <li><a><i class="fa fa-fw fa-cubes"></i></a>
                    <div class="sub-menu"><span>Объекты</span></div>
                </li>
                <li><a><i class="fa fa-fw fa-code"></i></a>
                    <div class="sub-menu"><span>Сценарии</span></div>
                </li>
                <li><a href="/room"><i class="fa fa-fw fa-comment-alt"></i></a>
                    <div class="sub-menu"><span>Комнаты</span></div>
                </li>
                <li><a><i class="fa fa-fw fa-calendar"></i></a>
                    <div class="sub-menu"><span>Планировщик задач</span></div>
                </li>
                <li><a><i class="fa fa-fw fa-window-maximize"></i></a>
                    <div class="sub-menu"><span>Виджеты</span></div>
                </li>
                <li><a><i class="fa fa-fw fa-cog"></i></a>
                    <div class="sub-menu"><span>Настройки</span></div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="app-content">
        <div class="content-header"></div>
        <div class="content-main">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="card card-list-item"><span class="avatar w-40 circle bg-success"><i
                            class="fa fa-fw fa-comment-alt"></i></span>
                        <div class="card-list-body"><h4 class="m-0">rooms.length}</h4>
                            <small class="tx-gray">Комнаты</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card card-list-item"><span class="avatar w-40 circle bg-info"><i
                            class="fa fa-fw fa-code"></i></span>
                        <div class="card-list-body"><h4 class="m-0">75</h4>
                            <small class="tx-gray">Сценарии</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card card-list-item"><span class="avatar w-40 circle bg-cyan"><i
                            class="fa fa-fw fa-cube"></i></span>
                        <div class="card-list-body"><h4 class="m-0"></h4>
                            <small class="tx-gray">Объекты</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card card-list-item"><span class="avatar w-40 circle bg-yellow"><i
                            class="fa fa-fw fa-comment-alt"></i></span>
                        <div class="card-list-body"><h4 class="m-0">75</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
