views/object/edit_property.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"><link rel="stylesheet" href="/stylesheets/ui.css"><link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-grid.min.css"><link rel="stylesheet" href="/stylesheets/fonts/css/fontawesome-all.css"><link rel="stylesheet" href="/stylesheets/helpers.css"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></head><body><div class="body-wrapper"><div class="app-aside"><div class="logo"></div><nav class="sidebar"><ul class="nav"><li><a><i class="fa fa-fw fa-desktop"></i></a><div class="sub-menu"><span>Главная</span></div></li><li><a><i class="fa fa-fw fa-cube"></i></a><div class="sub-menu"><span>Сцена</span></div></li><li><a href="/object"><i class="fa fa-fw fa-cubes"></i></a><div class="sub-menu"><span>Объекты</span></div></li><li><a><i class="fa fa-fw fa-code"></i></a><div class="sub-menu"><span>Сценарии</span></div></li><li><a href="/room"><i class="fa fa-fw fa-comment-alt"></i></a><div class="sub-menu"><span>Комнаты</span></div></li><li><a><i class="fa fa-fw fa-calendar"></i></a><div class="sub-menu"><span>Планировщик задач</span></div></li><li><a><i class="fa fa-fw fa-window-maximize"></i></a><div class="sub-menu"><span>Виджеты</span></div></li><li><a><i class="fa fa-fw fa-cog"></i></a><div class="sub-menu"><span>Настройки</span></div></li></ul></nav></div><div class="app-content"><div class="content-header"></div><div class="content-main"><div class="row"><div class="col-md-6"><div class="card"><div class="card-head"><h3 class="card-title">Свойства объекта</h3></div><div class="card-body"><h4 class="m-t-0">Редактировать свойство</h4><form method="post" action="/object/update_property"><div class="form-group"><label>Свойство</label><input class="form-control" name="TITLE"></div></form></div></div></div></div></div></div></div></body></html>

views/object/edit_property.pug
extends ../layout

block content
  div.row
    div.col-md-6
      div.card
        div.card-head
          h3.card-title Редактировать свойство
        div.card-body
          h4.m-t-0 Редактировать свойство
          form(method="post", action="/object/update_property")
            div.form-group
              label Свойство
              input(name="ID", value=property.ID, type="hidden")
              input.form-control(name="TITLE", value=property.TITLE, placeholder=property.TITLE)
            div.form-group
              label Значение
              input.form-control(name="VALUE", value=property.VALUE, placeholder=property.VALUE)
            div.form-group
              label Обновлять значение у привязаной комнаты
              select.form-control(name="UPDATE_ROOM_VALUE")
                option(value=0, selected=((property.UPDATE_ROOM_VALUE === 0))) Нет
                option(value=1, selected=((property.UPDATE_ROOM_VALUE === 1))) Да
            div.form-group
              label Выполнить сценарий при обновлении значения
              select.form-control(name= "ID_EVENT")
                option(value=0) Не выполнять
                each value in events
                  option(value= value.ID, selected=(property.ID_EVENT === value.ID))= value.TITLE
            button.btn.btn-success Сохранить
