views/room/edit.pug
extends ../layout

block content
  div.row
    div.col-md-6
      div.card
        div.card-head
          h3.card-title Редактировать комнату
          p.card-description Внимани! При изменении параметра значения Путь, устройства больше не смогут подключиться к этой при перезапуске сервера!
        div.card-body
          form.form(action="/room/edit/update", method="POST")
            div.form-group
              label Название
              input(type="hidden", name="ID", value=room.ID)
              input.form-control(name="TITLE", required, value=room.TITLE, placeholder=room.TITLE)
            div.form-group
              label Путь
              input.form-control(name="PATH", required, value=room.PATH, placeholder=room.PATH)
            div.form-group
              label Описание
              textarea.form-control(rows=5, name="DESCRIPTION", placeholder=room.DESCRIPTION)= room.DESCRIPTION
            div.form-group
              label Значение
              input.form-control(name="VALUE", value=room.VALUE, placeholder=room.VALUE)
            div.form-group
              label Привязать значение к свойству объекта
              select.form-control(name="ID_PROPERTY_OBJECT")
                option(value="0") Не привязывать
                each value in property
                  if value.ID === room.ID_PROPERTY_OBJECT
                    option(value=value.ID, selected) #{value.TITLE}
                  else
                    option(value=value.ID) #{value.TITLE}
            button.btn.btn-success Изменить


    div.col-md-6(style="display:none")
      div.card
        div.card-head
          h3.card-title События
          p.card-description Выполнение сценариев при обновлении значения или подключении нового клиента
        ul.list-group.list-group-responsive
          li.list-item Первый
          li.list-item Второй
          li.list-item Третий

views/object/edit.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"><link rel="stylesheet" href="/stylesheets/ui.css"><link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-grid.min.css"><link rel="stylesheet" href="/stylesheets/fonts/css/fontawesome-all.css"><link rel="stylesheet" href="/stylesheets/helpers.css"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></head><body><div class="body-wrapper"><div class="app-aside"><div class="logo"></div><nav class="sidebar"><ul class="nav"><li><a><i class="fa fa-fw fa-desktop"></i></a><div class="sub-menu"><span>Главная</span></div></li><li><a><i class="fa fa-fw fa-cube"></i></a><div class="sub-menu"><span>Сцена</span></div></li><li><a href="/object"><i class="fa fa-fw fa-cubes"></i></a><div class="sub-menu"><span>Объекты</span></div></li><li><a><i class="fa fa-fw fa-code"></i></a><div class="sub-menu"><span>Сценарии</span></div></li><li><a href="/room"><i class="fa fa-fw fa-comment-alt"></i></a><div class="sub-menu"><span>Комнаты</span></div></li><li><a><i class="fa fa-fw fa-calendar"></i></a><div class="sub-menu"><span>Планировщик задач</span></div></li><li><a><i class="fa fa-fw fa-window-maximize"></i></a><div class="sub-menu"><span>Виджеты</span></div></li><li><a><i class="fa fa-fw fa-cog"></i></a><div class="sub-menu"><span>Настройки</span></div></li></ul></nav></div><div class="app-content"><div class="content-header"></div><div class="content-main"><div class="row"><div class="col-md-6"><div class="card"><div class="card-head"><h3 class="card-title">Редакти</h3><p class="card-description">Список объектов</p></div><div class="card-body"><form class="form" action="/object/add_object" method="POST"><div class="form-group"><label>Название</label><input class="form-control" name="TITLE" required></div><div class="form-group"><label>Описание</label><textarea class="form-control" rows="5" name="DESCRIPTION"></textarea></div><button class="btn btn-success">Добавить</button></form></div></div></div><div class="col-md-5"><div class="card"><div class="card-head"><h3 class="card-title">Добавить новый объект</h3></div><div class="card-body"><form class="form" action="/object/add_object" method="POST"><div class="form-group"><label>Название</label><input class="form-control" name="TITLE" required></div><div class="form-group"><label>Описание</label><textarea class="form-control" rows="5" name="DESCRIPTION"></textarea></div><button class="btn btn-success">Добавить</button></form></div></div></div></div></div></div></div></body></html>
